:host {
  display: block;
  border: 1px solid black;
  padding: 15px;

  p {
    margin-top: 0;
  }

  .actions {
    display: flex;
    flex-direction: column;

    .status,
    .time {
      display: flex;

      button {
        flex: 1 1 0;
      }
    }

    .time {
      margin-top: 15px;
    }
  }
}
