.container {
  max-width: 1200px;
  margin: auto;

  .rotors {
    padding: 16px;
    display: flex;

    .rotor {
      margin-right: 16px;

      .title {
        margin-right: 16px;
      }

      app-rotors-initial-config,
      app-rotors-current-state {
        display: inline-block;
      }
    }
  }

  .messages {
    display: flex;

    .encrypt,
    .encrypted {
      padding: 16px;
      width: 100%;
    }

    mat-card-content,
    mat-form-field {
      width: 100%;
    }

    textarea {
      min-width: 100%;
      min-height: 400px;
    }
  }
}
