.container {
  max-width: 1200px;
  margin: auto;
  display: flex;

  .encrypt,
  .encrypted {
    padding: 16px;
    width: 100%;
  }

  mat-card-content,
  mat-form-field {
    width: 100%;
  }

  textarea {
    min-width: 100%;
    min-height: 400px;
  }
}
